extends layout

block content
    script(type='text/javascript').
        history.pushState("", document.title, window.location.pathname);
    h1= user.title + '\'s Subscriptions'
    p= JSON.stringify(config)
    h2 Folders
    ul
    each stream in streams
        li= stream.name + " - " + stream.subs.length + " subs"
    h2 Subscriptions
    div.subs-wrap
        each sub in subs
            div.sub
                img(src=sub.snippet.thumbnails.default.url)
                label= sub.snippet.title