extends layout

block content
    h1= user.title + '\'s Subscriptions'
    p= JSON.stringify(config)
    each sub in subs
        img(src=sub.snippet.thumbnails.default.url)
        h6= sub.snippet.title
        p= sub.snippet.description