extends layout

block content
    script(type='text/javascript').
        history.pushState("", document.title, window.location.pathname);
    h1= user.title + '\'s Subscriptions'
    p= JSON.stringify(config)
    h2 Streams
    ul

    button(onclick="testGetAllStreams()") Get all streams json
    button(onclick="testCreateStream()") Test create stream

    each stream, index in streams
        script.
            var !{"subs" + index} = !{JSON.stringify(stream.subs)};
        li= stream.name + " - " + stream.subs.length + " subs "
            button(onclick="testDeleteStream('" + stream.folderId + "')") Delete
            button(onclick="testGetStream('" + stream.folderId + "')") Get Json
            button(onclick="testUpdateStream('" + stream.folderId + "', " + "subs" + index + ")") Remove first
            button(onclick="getVideos('" + stream.folderId + "')") Get Videos
    h2 Subscriptions
    div.subs-wrap
        each sub in subs
            div.sub
                img(src=sub.snippet.thumbnails.default.url)
                label= sub.snippet.title
                label= sub.snippet.resourceId.channelId

    script.
        function testCreateStream() {

            var folder = {
                name: 'Just a test',
                subIds: ['UC4w_tMnHl6sw5VD93tVymGw', 'UCD4INvKvy83OXwAkRjaQKtw']
            };

            $.ajax({
                type: "POST",
                traditional: true,
                url: '/api/streams',
                data: folder,
                success: function (res) {
                    console.log(res);
                },
                dataType: 'json'
            });
        }

        function testDeleteStream(folderId) {
            $.ajax({
                type: "DELETE",
                traditional: true,
                url: '/api/streams',
                data: {
                    folderId: folderId
                },
                success: function (res) {

                }
            });
        }

        function testGetAllStreams() {
            $.ajax({
                type: "Get",
                traditional: true,
                url: '/api/streams',
                success: function (res) {
                    console.log(res);
                },
                dataType: 'json'
            });
        }

        function testGetStream(id) {
            $.ajax({
                type: "GET",
                traditional: true,
                url: '/api/streams/' + id,
                success: function (res) {
                    console.log(res);
                },
                dataType: 'json'
            });
        }

        function testUpdateStream(id, subs) {

            subs.splice(0, 1);

            $.ajax({
                type: "PATCH",
                traditional: true,
                url: '/api/streams/' + id,
                data: {
                    subs: JSON.stringify(subs)
                },
                success: function (res) {

                }
            });
        }

        function getVideos(id) {
            $.ajax({
                type: "GET",
                traditional: true,
                url: '/api/streams/' + id + '/videos',
                success: function (res) {
                    console.log(res);
                },
                dataType: 'json'
            });
        }